@model IEnumerable<Procedures>;
@{
    ViewData["Title"] = "Начало";
}

<div class="text-center">
    <p>Цъкни <a href="/swagger">Бутона</a>.</p>

    <div>
        @foreach (var procedure in Model)
        {
            <table class="table">
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Procedure Type</th>
                    <th scope="col">Date</th>
                    <th scope="col">ProfessorId1</th>
                    <th scope="col">
                        ProfessorId2
                    </th>
                    <th scope="col">
                        ProfessorId3
                    </th>
                    <th scope="col">ProfessorId4</th>
                    <th>
                        ProfessorId5
                    </th>
                    <th scope="col">
                        ProfessorId6
                    </th>
                    <th scope="col">
                        ProfessorId7
                    </th>
                </tr>
                <tr>
                    <td>@procedure.Id</td>
                    <td>@procedure.ProcedureType</td>
                    <td>@procedure.Date</td>
                    <td>@procedure.ProfessorId1</td>
                    <td>@procedure.ProfessorId2</td>
                    <td>@procedure.ProfessorId3</td>
                    <td>@procedure.ProfessorId4</td>
                    <td>@procedure.ProfessorId5</td>
                    <td>@procedure.ProfessorId6</td>
                    <td>@procedure.ProfessorId7</td>
                </tr>
            </table>
        }
    </div>
</div>
