@model IEnumerable<Procedures>;
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <p>Цъкни <a href="/swagger">Бутона</a>.</p>

    <div>
        @foreach (var procedure in Model)
        {
            <table>
                <tr>
                    <th>ID</th>
                    <th>Procedure Type</th>
                    <th>Date</th>
                    <th>ProfessorId1</th>
                    <th>
                        ProfessorId2
                    </th>
                    <th>
                        ProfessorId3
                    </th>
                    <th>ProfessorId4</th>
                    <th>
                        ProfessorId5
                    </th>
                    <th>
                        ProfessorId6
                    </th>
                    <th>
                        ProfessorId7
                    </th>
                </tr>
                <tr>
                    <td>@procedure.Id</td>
                    <td>@procedure.ProcedureType</td>
                    <td>@procedure.Date</td>
                    <td>@procedure.ProfessorId1</td>
                    <td>@procedure.ProfessorId2</td>
                    <td>@procedure.ProfessorId3</td>
                    <td>@procedure.ProfessorId4</td>
                    <td>@procedure.ProfessorId5</td>
                    <td>@procedure.ProfessorId6</td>
                    <td>@procedure.ProfessorId7</td>
                </tr>
            </table>
        }
    </div>
</div>
